/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
}



/* header section style */
/* nav design */
#header{
    height: 10vh;
    background: white;
}
.nev-container{
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo span{
    color: #ff42a5;
}
.logo img,h1{
    cursor: pointer;
}
.nav-content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}
#follow-us-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    color: black;
    background: rgba(11, 2, 35, 0.10);
}
#follow-us-btn span{
    padding-right: 5px;
}
#follow-us-btn span a{
    cursor: pointer;
}
#follow-us-btn #btn-logo1,#btn-logo2{
    padding-left: 10px;
}
#follow-us-btn #btn-logo1{
    color: red;
}

/* main section style */
/* banner design */
#banner{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-section{
    background-color: rgba(249, 72, 178,0.1);
}

.banner-content h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-content h1{
    text-align: center;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-content-paragraph{
    color: #534C64;
    text-align: left;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

#p_content1 i,#p_content2 i{
    color: #F948B2;
    padding-right: 10px;
    margin-bottom: 10px;
}
#p_content3 i{
    color: #F948B2;
    padding-right: 5px;
}
.content-button #btn1{
    margin-top: 20px;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background:#F948B2;
}
.content-button #btn1>a{
    text-decoration: none;
    color: white;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.content-button #btn2{
    margin-top: 20px;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}
.content-button #btn2>a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* gamers section */
#gamers{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gamers-section{
    padding-top: 150px;
    background-color: rgba(249, 72, 178,0.1);
}
#gamers-section .gamers-content h1{
    text-align: right;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
#gamers-section .gamers-content p{
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}
#gamers-section .gamers-content button{
    cursor: pointer;
    position: relative;
    left: 64%;
    border: none;
    border-radius: 48px;
    background: #F948B2;
    padding: 21px 40px;
}
#gamers-section .gamers-content>button a{
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
#gamers-section .gamers-content #gamers-content-p2{
    color: #534C64;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}
#gamers-section .gamers-content h3{
    color: #534C64;
    position: relative;
    left: 9%;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games section */
#online-games{
    margin: 120px auto 0px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.online-games-content{
    text-align: center;
    margin-bottom: 30px;
}
.online-games-content h1{
    padding: 20px;
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.online-games-content h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-content p{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.og-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.og-images-container{
    width: 350px;
    height: 450px;
}
.og-images img{
    width: 100%;
}
.og-images .og-images-container p{
    margin-top: 20px;
    text-align: center;
}

#ogc-black-bar{
    height: 400px;
    width: 345px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative;
    left: 1%;
    bottom: 100%;
}
.play-icon a i{
    cursor: pointer;
    color:white;
    font-size: 40px;
    position: absolute;
    left: 48%;
    top: 48%;
}

/* Featured Section */
.featured-box-1{
    margin: 120px auto;
    width: 1440px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.box1-content{
    width: 25%;
    text-align: right;
    margin-right: 300px;
}
.box1-content h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin-bottom: 30px;
}
.box1-content h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box1-img-container{
    width: 30%;
    position: relative;
}
.box1-img-container img{
    width: 100%;
}
.box1-img-container .child1{
    position: absolute;
    width: 50%;
    top: 75%;
    right: 75%;
}

.featured-box-2{
    margin: 300px auto;
    width: 1440px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.box2-content{
    width: 25%;
    margin-left: 300px;
}
.box2-content h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin-bottom: 30px;
}
.box2-content h1 #box2-ch1{
    color: #F948B2;
}
.box2-content h1 #box2-ch2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box2-img-container{
    width: 30%;
    position: relative;
}
.box2-img-container img{
    width: 100%;
}
.box2-img-container .child2{
    position: absolute;
    width: 50%;
    top: 75%;
    left: 75%;
}


/* footer section style */


/* responsive design (mobile)*/




/* responsive design (tabet)*/
