/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
}


/* header section style */
/* nav design */
#header{
    height: 10vh;
    background: white;
}
.nev-container{
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo span{
    color: #ff42a5;
}
.logo img,h1{
    cursor: pointer;
}
.nav-content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
#follow-us-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: black;
    background: rgba(11, 2, 35, 0.10);
}
#follow-us-btn span{
    padding-right: 5px;
}
#follow-us-btn span a{
    cursor: pointer;
}
#follow-us-btn #btn-logo1,#btn-logo2{
    padding-left: 10px;
}
#follow-us-btn #btn-logo1{
    color: red;
}

/* main section style */
/* banner design */
#banner-section{
    background-color: rgba(249, 72, 178,0.1);
}
#banner{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-content h1{
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-content-paragraph{
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

#p_content1 i,#p_content2 i{
    color: #F948B2;
    padding-right: 10px;
    margin-bottom: 10px;
}
#p_content3 i{
    color: #F948B2;
    padding-right: 5px;
}
.content-button #btn1{
    margin-top: 20px;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background:#F948B2;
}
.content-button #btn1>a{
    text-decoration: none;
    color: white;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.content-button #btn2{
    margin-top: 20px;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}
.content-button #btn2>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* footer section style */


/* responsive design (mobile)*/




/* responsive design (tabet)*/
